@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
  font-family: "Circular";
  src: url("/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Circular-Light";
  src: url("/CircularStd-Light.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scaffolding */
body {
  @apply font-circular-light text-primary-black;
  @apply leading-[1.6];
}

section {
  @apply relative py-20 lg:py-[120px]; 
  @apply overflow-hidden;
}

.container {
  @apply mx-auto;
  @apply max-w-[575px] md:max-w-[768px] lg:max-w-[992px] xl:max-w-[1358px];
  @apply px-9 md:px-11;
}

.balance-text {
  white-space: balance;
}

.grainy {
  background-image: url(/noisy-dark.png);
  background-repeat: repeat;
  background-position: cover;
}

svg {
  @apply w-full h-full;
}

/* Typography */
.heading-1 {
  @apply text-[58px] xl:text-[80px];
  @apply leading-none md:leading-[0.9] lg:leading-[1.1];
  @apply tracking-[-1.5px];
  @apply font-normal;
  @apply font-Syne;
}

.heading-2 {
  @apply text-[40px] xl:text-[50px] balance-text;
  @apply leading-none;
  @apply font-normal;
  @apply font-Syne;
}

.heading-3 {
  @apply text-[26px] md:text-[29px];
  @apply leading-[1.2];
  @apply font-normal;
  @apply font-circular;
}

.body-md {
  @apply text-[18px] xl:text-[20px];
  @apply font-light;
}

.body-base {
  @apply text-[17px];
  @apply font-light;
}

.body-sm {
  @apply text-[14px];
  @apply font-light;
}

.eyebrow {
  @apply text-[12px];
  @apply leading-[1.4];
  @apply tracking-[1.4px];
  @apply font-semibold;
  @apply uppercase;
  @apply font-Syne;
}
/* Buttons */
.button {
  @apply border-[0.75px];
  @apply px-5 py-2.5;
  @apply rounded-md;
  @apply transition-colors duration-200 ease-in-out;
  @apply bg-transparent;
  @apply font-Syne;
}

.button-yellow {
  @apply button;
  @apply border-primary-gray text-primary-gray;
  @apply hover:bg-primary-yellow hover:border-primary-yellow hover:text-gray-900;
}

.button-green {
  @apply button;
  @apply border-primary-gray text-primary-gray;
  @apply hover:bg-primary-green hover:border-primary-green hover:text-gray-900;
}

.button-pink {
  @apply button;
  @apply border-primary-gray text-primary-gray;
  @apply hover:bg-primary-pink hover:border-primary-pink hover:text-gray-900;
}

.button-blue {
  @apply button;
  @apply border-primary-gray text-primary-gray;
  @apply hover:bg-primary-blue hover:border-primary-blue hover:text-gray-900;
}

/* Links */